.profile {
  position: fixed;
  margin-left: 1%;
  margin-top: 0.8%;
  width: 10%;
}

.profile > img {
  border-radius: 50%;
  width: 86px;
}

.profile > a {
  text-align: center;
  font-size: large;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 1.8px black;
  width: 86px;
  text-decoration: none;
  cursor: default;
}
