.quill {
  overflow-y: hidden;
  position: fixed;
  height: 70%;
  width: 40%;
  margin: 4% auto;
  background: white;
}

.ql-toolbar.ql-snow {
  background: whitesmoke;
  position: fixed;
  margin-top: -3%;
  width: 40%;

}

.ql-container.ql-snow {
  border: 1px solid #ccc;
  background: white;
}

.Compose {
  margin-left: 0.1%;
  margin-top: 39%;
  position: fixed;
  width: 6.4%;
  background: white;
  height: 5%;
  padding-left: 33.4%;
}
