.poem-feed {
  margin: 0 auto;
  display: block;
  width: 50%;
}

.poem-post {
  background-color: white;
  min-height: 98%;
  margin-bottom: 2%;
}

.post-details {
  padding: 1%;
  width: 98%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid lightgray;
}

.post-details > img {
  border-radius: 50%;
  height: 8%;
  width: 8%;
  margin-right: 2%;
}

.post-details > div {
  padding: 2% 0% 2% 0%;
  font-size: x-large;
  color: rgb(43, 42, 42);
}

.poem {
  width: 96%;
  height: 80%;
  border-bottom: 1px solid lightgray;
  padding: 2%;
}

.reaction {
  padding: 1.2%;
  display: flex;
  justify-content: flex-start;
}

.comment-section {
  padding: 2%;
  border-top: 1px solid lightgray;
  width: 100%;
  display: flex;
}

.comment-section > textarea {
  width: 80%;
  height: 56%;
  border: none;
  outline: none;
  resize: none;
  font-family: sans-serif;
}

.comment {
  margin-top: 1%;
}
