.poem-feed {
  margin: 0 auto;
  display: block;
  width: 50%;
}

.poem-post {
  background-color: white;
  min-height: 98%;
  margin-bottom: 2%;
}

.post-details {
  padding: 1%;
  width: 98%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid lightgray;
}

.post-details > img {
  border-radius: 50%;
  height: 8%;
  width: 8%;
  margin-right: 2%;
}

.post-details > a {
  padding-top: 2%;
  font-size: x-large;
  color: rgb(43, 42, 42);
  text-decoration: none;
}

.post-details :hover {
  border-bottom: 1px solid lightgray;
}

.poem {
  width: 96%;
  height: 80%;
  border-bottom: 1px solid lightgray;
  padding: 2%;
}

.comment-section {
  padding: 2%;
  border-top: 1px solid lightgray;
  width: 100%;
  display: flex;
}

.comment-section > textarea {
  width: 80%;
  height: 56%;
  border: none;
  outline: none;
  resize: none;
  font-family: sans-serif;
}

.comment > button {
  border: 5px solid lightgray;
  padding: 10% 22% 10% 22%;
  border-radius: 30px;
  outline: none;
}
