.reaction {
  padding: 1% 0% 0% 0.4%;
  margin-right: 1%;
  display: flex;
  justify-content: flex-start;
}

.comment-reaction {
  display: flex;
}

.like-icon {
  width: 6%;
  cursor: pointer;
  max-height: 20px;
}

.liked {
  content: url(../../Icons/heartLiked.svg);
}

.not-liked {
  content: url(../../Icons/heartNotLiked.svg);
}

.like-details,
.comment-details {
  max-height: 6vw;
  overflow: scroll;
  padding: 1%;
}

.like-rapper,
.comment-rapper {
  width: 100%;
}

.likes,
.comments {
  margin-left: 2%;
}

.comments :hover,
.likes :hover {
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

.comments > span,
.likes > span {
  margin-right: 1%;
  color: gray;
}

.user-who-liked,
.user-who-commented {
  display: flex;
  width: 14%;
  height: 12%;
}

.user-who-liked > img,
.user-who-commented > img {
  border-radius: 34%;
  width: 34%;
  height: 57%;
  margin-left: 2%;
}

.user-who-commented > a,
.user-who-liked > a {
  color: gray;
  padding: 10%;
  text-decoration: none;
}

.comment-reaction > p {
  margin: 1.2% 0% 0% 6%;
}
